# Projeto 3
## Felipe Scandiuzzi M. Netto e Maria Clara L. Luques
## 2C - Ciência dos Dados

### Usando a variável 'expectativa de vida' como resposta, decidimos utilizar as variáveis '% de adultos entre 15 e 49 anos com HIV' e 'renda per capita', todas no ano de 2010. Tais variáveis foram escolhidas tendo como base o fato de que os aspectos que mais influenciam na expectatica de vida de um país estão relacionados à saúde e à renda da sua população, sendo esses pontos diretamente ligados à boa ou má qualidade de vida do país analisado.

## Expectativa de vida vs. HIV (% da população entre 15 e 49 anos)
<img src="exhiv.png"/, width=840, height=720 align='center'>
## Expectativa de vida vs. PIB per capita
<img src="expercapita.png"/, width=840, height=700 align='center'>

In [4]:
'''Importando bibliotecas necessárias'''

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [5]:
'''Verificando o diretório'''
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\MLUQUES\Documents\Insper\Semestre 2\Ciência dos Dados\CD\Projeto3

In [28]:
'''Lendo tabelas do excel'''

dados1 = pd.read_excel("expectativa.xlsx")
dados2 = pd.read_excel('hiv.xlsx')
dados3 = pd.read_excel('per_capita.xlsx')

'''Separando apenas o ano de 2010 e transformando em DataFrame'''

expec = pd.DataFrame(dados1.V2010)
hiv = pd.DataFrame(dados2.V2010)
per_capita = pd.DataFrame(dados3.V2010)

In [ ]:
'''Os Países com 'Nan' em alguma das variáveis não foram retirados ainda para não haver conflito entre o numero de paises em 
cada uma das tabelas, pois nem todos com falta de dados necessariamente tem esse deficit em todas as variáveis.'''

In [29]:
'''10 primeiras linhas de expectativa de vida como exemplo'''

expec.head(10)

                       V2010
Abkhazia                 NaN
Afghanistan             53.6
Akrotiri and Dhekelia    NaN
Albania                 77.2
Algeria                 76.0
American Samoa          72.8
Andorra                 84.7
Angola                  57.6
Anguilla                 NaN
Antigua and Barbuda     75.8

In [32]:
'''10 primeiras linhas do indice de HIV em adultos (15-49) como exemplo'''

hiv.head(10)

                       V2010
Abkhazia                 NaN
Afghanistan             0.06
Akrotiri and Dhekelia    NaN
Albania                  NaN
Algeria                  NaN
American Samoa           NaN
Andorra                  NaN
Angola                  2.10
Anguilla                 NaN
Antigua and Barbuda      NaN

In [31]:
'''10 primeiras linhas da renda per capita como exemplo'''

per_capita.head(10)

                         V2010
Abkhazia                   NaN
Afghanistan             1637.0
Akrotiri and Dhekelia      NaN
Albania                 9374.0
Algeria                12494.0
American Samoa             NaN
Andorra                38982.0
Angola                  7047.0
Anguilla                   NaN
Antigua and Barbuda    20567.0