# Projeto 3
## Felipe Scandiuzzi M. Netto e Maria Clara L. Luques
## 2C - Ciência dos Dados

### Usando a variável 'expectativa de vida' como resposta, decidimos utilizar as variáveis '% de adultos entre 15 e 49 anos com HIV' e 'renda per capita', todas no ano de 2010. Tais variáveis foram escolhidas tendo como base o fato de que os aspectos que mais influenciam na expectatica de vida de um país estão relacionados à saúde e à renda da sua população, sendo esses pontos diretamente ligados à boa ou má qualidade de vida do país analisado.

## Expectativa de vida vs. HIV (% da população entre 15 e 49 anos)
<img src="exhiv.png"/, width=840, height=720 align='center'>
## Expectativa de vida vs. PIB per capita
<img src="expercapita.png"/, width=840, height=700 align='center'>

In [14]:
'''Importando bibliotecas necessárias'''

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [15]:
'''Verificando o diretório'''
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\felipe\Documents\GitHub\CD\Projeto3

In [16]:
'''Lendo tabelas do excel'''

dados1 = pd.read_excel("expectativa.xlsx",index_col=0)
dados2 = pd.read_excel('hiv.xlsx',index_col=0)
dados3 = pd.read_excel('per_capita.xlsx',index_col=0)

'''Separando apenas o ano de 2010 e transformando em DataFrame'''

expec = pd.DataFrame(dados1.ExpecV)
hiv = pd.DataFrame(dados2.HIVs)
per_capita = pd.DataFrame(dados3.PerCap)

In [17]:
'''Os Países com 'Nan' em alguma das variáveis não foram retirados ainda para não haver conflito entre o numero de paises em 
cada uma das tabelas, pois nem todos com falta de dados necessariamente tem esse deficit em todas as variáveis.'''

"Os Países com 'Nan' em alguma das variáveis não foram retirados ainda para não haver conflito entre o numero de paises em \ncada uma das tabelas, pois nem todos com falta de dados necessariamente tem esse deficit em todas as variáveis."

In [34]:
dados = expec.join(hiv, how='outer')
dados = dados.join(per_capita, how='outer')

dados=dados[~np.isnan(dados.ExpecV)]
dados=dados[~np.isnan(dados.HIVs)]
dados=dados[~np.isnan(dados.PerCap)]
dados.head(10)

             ExpecV  HIVs   PerCap
Afghanistan    53.6  0.06   1637.0
Angola         57.6  2.10   7047.0
Argentina      75.8  0.40  15765.0
Armenia        73.0  0.20   6508.0
Australia      82.0  0.20  41330.0
Austria        80.5  0.40  42861.0
Azerbaijan     70.1  0.10  15950.0
Bahamas        72.7  2.80  22915.0
Bangladesh     68.8  0.06   2459.0
Barbados       75.2  0.90  15297.0

In [33]:
dados.shape

(145, 3)

In [37]:
'''10 primeiras linhas de expectativa de vida como exemplo'''

expec.head(2)

             ExpecV
Abkhazia        NaN
Afghanistan    53.6

In [38]:
'''10 primeiras linhas do indice de HIV em adultos (15-49) como exemplo'''

hiv.head(2)

             HIVs
Abkhazia      NaN
Afghanistan  0.06

In [39]:
'''10 primeiras linhas da renda per capita como exemplo'''

per_capita.head(2)

             PerCap
Abkhazia        NaN
Afghanistan  1637.0